@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    medidas absolutas
    cm, mm, in, px= recomendada,  pt, pc
    
    meidas relativas
    em= recomendada, ex, rm, Vw,
    */
    font-size:16px ;
    font-weight:bolder ;
    /*font-weight indica o peso da fonte
        lighter, normal, bold, bolder*/
    font-style: italic;     
    /*font-style indica o estilo da fonte*/  
    text-decoration: underline;
    /*colocar sublinhado*/  
}
h1{
    font: italic bolder 25px arial;
    /* short hands consigo comprimir todas as imformações apenas 
    em uma linha é importante seguir esta ordem*/
}
